<p id="notice"><%= notice %></p>

<h1>Seus Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Endereço</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.age %></td>
        <td><%= client.cpf %></td>
        <td><%= client.rg %></td>
        <td><%= client.adress %></td>
        <td><%= client.rate %></td>
        <td><%= link_to 'Exibir', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Apagar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Cliente', new_client_path %>
