<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>RG:</strong>
  <%= @client.rg %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @client.adress %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @client.rate %>
</p>

<p>
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Voltar', clients_path %>
</p>
<%= link_to 'Seguir Para Venda', new_order_path(:client => @client.id) %>