<h1>New Order</h1>

<p>Usuário: <%= @user.name %> (#<%= @user.id %>)</p>
<p>Cliente: <%= @client.name %> (#<%= @client.id %>)</p>

<% if session[:cart] %>
	<%= simple_form_for(@order) do |f| %>
  		<%= f.error_notification %>

  	  <%= f.hidden_field :client, :value => @client.id %>

  	<div class="form-actions">
    	<%= f.button :submit, class: "btn btn-primary" %>
	</div>
	<%= link_to 'Back', clients_path %>
	<%= link_to 'Escolha os Produtos', '/choose'%>
	<%end%>
	
<%else%>
<p>Favor adicionar produtos antes de efetuar uma venda</p>

<%end%>