<div class="panel panel-default">

	<div class="panel-heading"><h1 class="text-center">Finalizando Venda</h1></div>

	<div class="panel-body">
		<h4>Vendedor: <%= @user.name %> (#<%= @user.id %>)</h4>
		<h4>Cliente: <%= @client.name %> (#<%= @client.id %>)</h4>

		<% if session[:cart] %>
			<% total = 0 %>
			<h3 class="text-center">Produtos Escolhidos</h3>
			<% session[:cart].each do |id, amount| %>
				<% product = Product.find(id) %>
					<% total = total + (product.price * amount) %>
					<li class="list-group-item">
						<p>Marca: <%= product.brand %></p>
						<p>Tipo: <%= product.product_type %></p>
						<p>Preço: <%= number_to_currency(product.price, :unit => 'R$') %></p>
						<p><%= f.select :order_type, options_for_select(['Cartão de Crédito', 'Dinheiro', 'Crediário']), label: false %></p>
						<p>Quantidade: <%= amount %></p>
					</li>
					<br>
				
			<% end %> 
			<h4 class="text-center">TOTAL: R$ <%= total %></h4>
			<%= simple_form_for(@order) do |f| %>
			  	<%= f.error_notification %>

			  	<%= f.hidden_field :client, :value => @client.id %>

			  	<div class="form-actions">
			    	<%= f.button :submit, "Confirmar Venda", class: "btn btn-primary pull-right" %>


				</div>


				<%= link_to 'Voltar', clients_path, class: "btn btn-primary" %>
				<!--%= link_to 'Escolha os Produtos', '/choose'% -->
			<%end%>
	</div>
		
		<%else%>
			<p>Favor adicionar produtos antes de efetuar uma venda!</p>
		<%end%>

</div>