<div class="panel panel-default">

	<div class="panel-heading"><h1 class="text-center">Finalizando Venda</h1></div>

	<div class="panel-body">
		<h4>Vendedor: <%= @user.name %> (#<%= @user.id %>)</h4>
		<h4>Cliente: <%= @client.name %> (#<%= @client.id %>)</h4>

		<% if session[:cart] %>

			<%= simple_form_for(@order) do |f| %>
			  	<%= f.error_notification %>

			  	<%= f.hidden_field :client, :value => @client.id %>

			  	<div class="form-actions">
			    	<%= f.button :submit, "Confirmar Venda", class: "btn btn-primary" %>
				</div>
				<%= link_to 'Voltar', clients_path %>
				<%= link_to 'Escolha os Produtos', '/choose'%>
			<%end%>
	</div>
		
		<%else%>
			<p>Favor adicionar produtos antes de efetuar uma venda!</p>

		<%end%>

</div>