<div class="col-md-8 col-md-offset-2">
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.label :reference, "Referência" %>
    <%= f.input :reference, label: false %>

    <%= f.label :brand, "Marca" %>
    <%= f.input :brand, label: false %>

    <%= f.label :size, "Tamanho" %>
    <%= f.input :size, label: false %>

    <div class="input-group">
      <%= f.label :gender, "Gênero:" %>
      <%= f.select :gender, options_for_select(['Masculino', 'Feminino']), label: false %>
    </div>
    <br>
    <div class="input-group">
      <%= f.label :product_type, "Tipo:" %>
      <%= f.select :product_type, options_for_select(['Receituário', 'Esportivo']), label: false %>
    </div>
    <br>

    <%= f.label :cost_price, "Preço de Custo (R$)" %>
    <%= f.input :cost_price, class: 'form-control', label: false %>
    

    <%= f.label :price, "Preço de Venda (R$)" %>
    <%= f.input :price, label: false %>

    <%= f.label :stock_quantity, "Quantidade em Estoque" %>
    <%= f.input :stock_quantity, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %><br><br>
  </div>
  <div>
    <%= link_to 'Voltar', products_path, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
</div>
