<div class="col-xs-2">
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :brand %>
    <%= f.input :size %>
    <%= f.input :reference %>
    <%= f.input :gender %>
    <%= f.input :type %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %><br><br>
  </div>
  <div>
    <%= link_to 'Voltar', products_path, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
</div>
