<%= link_to 'Adicionar Novo Produto', new_product_path, class: "btn btn-primary btn-sm pull-right" %><br><br>
<% if @products.present? %>
<div class="panel panel-default">
<div class="panel-heading"><h1 class="text-center">Estoque</h1>
</div>

<div class="panel-body">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <h3>Filtro</h3>
    <div></div>
    <%= form_tag(products_path, :method =>'get', id: "search-form", class: "navbar-form navbar-left") do %>


    <div class="form-group">
      <%= text_field_tag :brand, params[:brand], placeholder: "digite a marca", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= text_field_tag :gender, params[:gender], placeholder: "digite o gênero", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= text_field_tag :product_type, params[:product_type], placeholder: "digite o tipo", class: "form-control" %>
    </div>

    <div class="form-group">
      De R$: <%= text_field_tag :price_min, params[:price_min], placeholder: "digite o preço mínimo", class: "form-control" %> a 
    
      R$: <%= text_field_tag :price_max, params[:price_max], placeholder: "digite o preço máximo", class: "form-control" %>
    </div>

      <span class="form-group-btn">
      <br><br><%= submit_tag "Filtar", class: 'btn btn-primary' %>
    </span>
    
    <% end %>
  </div>
</nav>
<br>
</div>

<div>
<table class="table table-hover table-bordered text-center">
	<thead>
	  <tr>
	  	<th class="text-center">Referência</th>
	    <th class="text-center">Marca</th>
	    <th class="text-center">Tamanho</th>
	    <th class="text-center">Gênero</th>
	    <th class="text-center">Tipo</th>
      <th class="text-center">Preço de Custo</th>
	    <th class="text-center">Preço</th>
      <th class="text-center">Quantidade em Estoque</th>
	    <th lass="text-center"></th>
		<th class="text-center"></th>
		<th class="text-center">Quantidade</th>
	  </tr>
    </thead>
 <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.reference %></td>
      <td><%= product.brand %></td>
      <td><%= product.size %></td>
      <td><%= product.gender %></td>
      <td><%= product.product_type %></td>
      <td><%= number_to_currency(product.cost_price, :unit => 'R$') %></td>
      <td><%= number_to_currency(product.price, :unit => 'R$') %></td>
      <td><%= product.stock_quantity %></td>
      <td><p class="btn btn-default"><%= link_to "Detalhes", product %></p></td>
	  <% if params[:page] %>
	  	<td><p class="btn btn-default"><%= link_to "Add", add_path(product, params[:page]) %></p></td>
	  <% else %>
	  	<td><p class="btn btn-default"><%= link_to "Add", add_path(product, "1") %></p></td>
	  <% end %>
	  <% if session[:cart] %>
	  	<% cart = session[:cart]%>
	 	<td><%=  cart["#{product.id}"] %></td>
	  <% else %>
	  	<td></td>
		<% end %>
		 
    
	</tr>
  <% end %>
</tbody>
</table>
<div class="text-center">
  <%= will_paginate @products, :previous_label => 'Anterior', :next_label => 'Próximo', renderer: BootstrapPagination::Rails %>
</div>
</div>


</div>

<% else %>
  <p>Nenhum resultado com os parâmetros <%= params[:search] %></p>
  <%= link_to 'Adicionar Novo Produto', new_product_path, class: "btn btn-link btn-sm" %><br>
  <%= link_to 'Ver estoque completo', products_path, class: "btn btn-link btn-sm" %>
<% end %>
