<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><h1 class="text-center">Detalhes do Produto</h1></div>
  <div class="panel-body">
    <p>
      <strong>Marca:</strong>
      <%= @product.brand %>
    </p>

    <p>
      <strong>Tamanho:</strong>
      <%= @product.size %>
    </p>

    <p>
      <strong>Referência:</strong>
      <%= @product.reference %>
    </p>

    <p>
      <strong>Gênero:</strong>
      <%= @product.gender %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @product.product_type %>
    </p>

    <p>
      <strong>Preço:</strong>
      <%= @product.price %>
    </p>
  </div>

  <div class="panel-footer">
    <div class="btn"><%= link_to 'Editar Produto', edit_product_path(@product) %></div> |
    <div class="btn"><%= link_to 'Voltar', products_path %></div>
  </div>

</div>
