<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Otks", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      

      <ul class="nav navbar-nav navbar-right">
	  <% cartCount = 0 %>
      <% if session[:cart] %>
	  
	  	<% cart = session[:cart] %>
		<% cart.each do |id, quantity| %>
			<% cartCount += quantity %>
		<% end %>
	  
	  <% end %>
	  
      <% if user_signed_in? %>
      	
		<li><%= link_to "Venda Atual (#{cartCount})", cart_index_path %></li>
        <li><%= link_to "Consultar Estoque", products_path %></li>
		<li><%= link_to "Consultar Clientes", clients_path %></li>
        <li><%= link_to "Finalizar Venda", clients_path %></li>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete %>
      <% end %>


      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>