<!DOCTYPE html>
<html>
<head>
  <title>OticaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<div class="container">
	<span class="notice_message">
		<% flash.each do |name, msg| %>
	    	<h4><%= content_tag :div, msg, class: "alert alert-info text-center" %></h4>
	  	<% end %>
  	</span>
  	<script>
  		setTimeout("$('.notice_message').fadeOut('slow')", 5000)
  	</script>

	<%= yield %>
</div>

</body>
</html>
